In [2]:
import os
os.getcwd()

'C:\\Users\\venk\\Desktop\\py_pgm'

In [3]:
print(os.path.join("C:\SparkCourse\test_files","sample_adult.csv"))

C:\SparkCourse	est_files\sample_adult.csv

In [147]:
df=spark.read.csv('C:\\SparkCourse\\test_files\\sample_adult.csv')
type(df)
df.show(3)

+---+-----------------+-------+----------+---+-------------------+------------------+--------------+------+-----+-----+----+----+--------------+------+
|_c0|              _c1|    _c2|       _c3|_c4|                _c5|               _c6|           _c7|   _c8|  _c9| _c10|_c11|_c12|          _c13|  _c14|
+---+-----------------+-------+----------+---+-------------------+------------------+--------------+------+-----+-----+----+----+--------------+------+
| 39|        State-gov|  77516| Bachelors| 13|      Never-married|      Adm-clerical| Not-in-family| White| Male| 2174|   0|  40| United-States| <=50K|
| 50| Self-emp-not-inc|  83311| Bachelors| 13| Married-civ-spouse|   Exec-managerial|       Husband| White| Male|    0|   0|  13| United-States| <=50K|
| 38|          Private| 215646|   HS-grad|  9|           Divorced| Handlers-cleaners| Not-in-family| White| Male|    0|   0|  40| United-States| <=50K|
+---+-----------------+-------+----------+---+-------------------+------------------+--------------+------+-----+-----+----+----+--------------+------+
only showing top 3 rows

In [148]:
import pyspark.sql
from pyspark import SparkContext
from pyspark.sql import SparkSession
#import pyspark.sql.DataFrame
df.registerTempTable("dftable")   #createOrReplaceTempView not worked,Hence we used registerTempTable method

In [149]:
sqlContext.sql("select * from dftable").show(1)

+---+----------+------+----------+---+--------------+-------------+--------------+------+-----+-----+----+----+--------------+------+
|_c0|       _c1|   _c2|       _c3|_c4|           _c5|          _c6|           _c7|   _c8|  _c9| _c10|_c11|_c12|          _c13|  _c14|
+---+----------+------+----------+---+--------------+-------------+--------------+------+-----+-----+----+----+--------------+------+
| 39| State-gov| 77516| Bachelors| 13| Never-married| Adm-clerical| Not-in-family| White| Male| 2174|   0|  40| United-States| <=50K|
+---+----------+------+----------+---+--------------+-------------+--------------+------+-----+-----+----+----+--------------+------+
only showing top 1 row

In [150]:
spark.catalog.dropTempView("dftable")  # here I droped it,Hence above error

In [151]:
df1=df.toDF('age',
'workclass',
'fnlwgt',
'education',
'Education-num',
'Marital-status',
'occupation',
'relationship',
'race',
'sex',
'Capital-gain',
'Capital-loss',
'Hours-per-week',
'Native-country',
'Class (income)'
)

In [152]:
df1.printSchema()

root
 |-- age: string (nullable = true)
 |-- workclass: string (nullable = true)
 |-- fnlwgt: string (nullable = true)
 |-- education: string (nullable = true)
 |-- Education-num: string (nullable = true)
 |-- Marital-status: string (nullable = true)
 |-- occupation: string (nullable = true)
 |-- relationship: string (nullable = true)
 |-- race: string (nullable = true)
 |-- sex: string (nullable = true)
 |-- Capital-gain: string (nullable = true)
 |-- Capital-loss: string (nullable = true)
 |-- Hours-per-week: string (nullable = true)
 |-- Native-country: string (nullable = true)
 |-- Class (income): string (nullable = true)

In [153]:
df1.show(2)

+---+-----------------+------+----------+-------------+-------------------+----------------+--------------+------+-----+------------+------------+--------------+--------------+--------------+
|age|        workclass|fnlwgt| education|Education-num|     Marital-status|      occupation|  relationship|  race|  sex|Capital-gain|Capital-loss|Hours-per-week|Native-country|Class (income)|
+---+-----------------+------+----------+-------------+-------------------+----------------+--------------+------+-----+------------+------------+--------------+--------------+--------------+
| 39|        State-gov| 77516| Bachelors|           13|      Never-married|    Adm-clerical| Not-in-family| White| Male|        2174|           0|            40| United-States|         <=50K|
| 50| Self-emp-not-inc| 83311| Bachelors|           13| Married-civ-spouse| Exec-managerial|       Husband| White| Male|           0|           0|            13| United-States|         <=50K|
+---+-----------------+------+----------+-------------+-------------------+----------------+--------------+------+-----+------------+------------+--------------+--------------+--------------+
only showing top 2 rows

In [154]:
df1.registerTempTable("dftempview")

In [155]:
sqlContext.sql("select age from dftempview where age < 40 ").show(2)

+---+
|age|
+---+
| 39|
| 38|
+---+
only showing top 2 rows

In [156]:
max_age="select max(age) from dftempview"
sqlContext.sql(max_age).show()   #used a variable to query, this can used from outside to get query

+--------+
|max(age)|
+--------+
|      59|
+--------+

In [157]:
df1.describe()

DataFrame[summary: string, age: string, workclass: string, fnlwgt: string, education: string, Education-num: string, Marital-status: string, occupation: string, relationship: string, race: string, sex: string, Capital-gain: string, Capital-loss: string, Hours-per-week: string, Native-country: string, Class (income): string]

In [85]:

'''
df = sc.parallelize([(1, "foo"), (2, "x"), (3, "bar")]).toDF(("k", "v"))
df.registerTempTable("df")
sqlContext.sql("SELECT * FROM df WHERE v IN {0}".format(("foo", "bar"))).count()
'''

df.show()

+---+---+
|  k|  v|
+---+---+
|  1|foo|
|  2|  x|
|  3|bar|
+---+---+

In [161]:
old_Bachelor="select * from dftempview where age > 34 "
sqlContext.sql(old_Bachelor).show(1)

+---+----------+------+----------+-------------+--------------+-------------+--------------+------+-----+------------+------------+--------------+--------------+--------------+
|age| workclass|fnlwgt| education|Education-num|Marital-status|   occupation|  relationship|  race|  sex|Capital-gain|Capital-loss|Hours-per-week|Native-country|Class (income)|
+---+----------+------+----------+-------------+--------------+-------------+--------------+------+-----+------------+------------+--------------+--------------+--------------+
| 39| State-gov| 77516| Bachelors|           13| Never-married| Adm-clerical| Not-in-family| White| Male|        2174|           0|            40| United-States|         <=50K|
+---+----------+------+----------+-------------+--------------+-------------+--------------+------+-----+------------+------------+--------------+--------------+--------------+
only showing top 1 row

In [102]:
sqlContext.sql.__doc__

'Returns a :class:`DataFrame` representing the result of the given query.\n\n        :return: :class:`DataFrame`\n\n        >>> sqlContext.registerDataFrameAsTable(df, "table1")\n        >>> df2 = sqlContext.sql("SELECT field1 AS f1, field2 as f2 from table1")\n        >>> df2.collect()\n        [Row(f1=1, f2=\'row1\'), Row(f1=2, f2=\'row2\'), Row(f1=3, f2=\'row3\')]\n\n        .. versionadded:: 1.0'

In [242]:
old_Bachelor="select * from dftempview where dftempview.age = '39' " 
sqlContext.sql(old_Bachelor).show(1)  # search string contain speacial char - hence result not given

+---+----------+------+----------+-------------+--------------+-------------+--------------+------+-----+------------+------------+--------------+--------------+--------------+
|age| workclass|fnlwgt| education|Education-num|Marital-status|   occupation|  relationship|  race|  sex|Capital-gain|Capital-loss|Hours-per-week|Native-country|Class (income)|
+---+----------+------+----------+-------------+--------------+-------------+--------------+------+-----+------------+------------+--------------+--------------+--------------+
| 39| State-gov| 77516| Bachelors|           13| Never-married| Adm-clerical| Not-in-family| White| Male|        2174|           0|            40| United-States|         <=50K|
+---+----------+------+----------+-------------+--------------+-------------+--------------+------+-----+------------+------------+--------------+--------------+--------------+
only showing top 1 row

In [226]:
df1.select(df1.age == 39).show()   # can't fillter with select

+----------+
|(age = 39)|
+----------+
|      true|
|     false|
|     false|
|     false|
|     false|
|     false|
|     false|
|     false|
|     false|
|     false|
|     false|
|     false|
|     false|
|     false|
|     false|
|     false|
|     false|
|     false|
|     false|
|     false|
+----------+
only showing top 20 rows

In [227]:
df1.filter(df1.age == 39).count()   # filter can filter same, special character issue here too.

2

In [237]:
df1.filter(df1['Marital-status'].contains('Never-married')).show(2)  # finally found it

+---+----------+------+----------+-------------+--------------+---------------+--------------+------+-------+------------+------------+--------------+--------------+--------------+
|age| workclass|fnlwgt| education|Education-num|Marital-status|     occupation|  relationship|  race|    sex|Capital-gain|Capital-loss|Hours-per-week|Native-country|Class (income)|
+---+----------+------+----------+-------------+--------------+---------------+--------------+------+-------+------------+------------+--------------+--------------+--------------+
| 39| State-gov| 77516| Bachelors|           13| Never-married|   Adm-clerical| Not-in-family| White|   Male|        2174|           0|            40| United-States|         <=50K|
| 31|   Private| 45781|   Masters|           14| Never-married| Prof-specialty| Not-in-family| White| Female|       14084|           0|            50| United-States|          >50K|
+---+----------+------+----------+-------------+--------------+---------------+--------------+------+-------+------------+------------+--------------+--------------+--------------+
only showing top 2 rows

In [243]:
pd_df=df1.toPandas()   # convert  spark dataframe to pandas dataframe

In [244]:
type(pd_df)

pandas.core.frame.DataFrame

In [ ]:
# how to create dataframe from python dict
#https://stackoverflow.com/questions/53219863/create-a-dataframe-from-column-of-dictionaries-in-pyspark