In [21]:
# DataFrame is like table, Hence following things to be considered while creating DataFrame.
# in DB , table name, column name, column datatypes
# in Dataframe, Dataframe name,schema name,schema datatype
#StructField 
#StructType
# entry point is bring till row rdd
from pyspark.sql.types import *
rdd=sc.parallelize([('a',1),('b',2),('c',3),('d',4)])  # two columns 
colx=StructField("col1",StringType(),True)
coly=StructField("col2",IntegerType(),True)
schema1=StructType([colx,coly])

df=spark.createDataFrame(rdd,schema=schema1)

# bring it to Row() option
# create structType and StructField

In [27]:
df.show()

+----+----+
|col1|col2|
+----+----+
|   a|   1|
|   b|   2|
|   c|   3|
|   d|   4|
+----+----+

In [28]:
df.printSchema()

root
 |-- col1: string (nullable = true)
 |-- col2: integer (nullable = true)

In [29]:
df.columns

['col1', 'col2']

In [39]:
df.show()

+----+----+
|col1|col2|
+----+----+
|   a|   1|
|   b|   2|
|   c|   3|
|   d|   4|
+----+----+

In [41]:
df.select('col1').show()

+----+
|col1|
+----+
|   a|
|   b|
|   c|
|   d|
+----+

In [44]:
df.withColumnRenamed('col2','number').show()

+----+------+
|col1|number|
+----+------+
|   a|     1|
|   b|     2|
|   c|     3|
|   d|     4|
+----+------+

In [54]:
dff1=df.withColumn('col2',df['col2'].cast('float'))
dff1.printSchema()
dff1.show()

root
 |-- col1: string (nullable = true)
 |-- col2: float (nullable = true)

+----+----+
|col1|col2|
+----+----+
|   a| 1.0|
|   b| 2.0|
|   c| 3.0|
|   d| 4.0|
+----+----+

In [68]:
df.show()

+----+----+
|col1|col2|
+----+----+
|   a|   1|
|   b|   2|
|   c|   3|
|   d|   4|
+----+----+

In [82]:
df.filter((df.col2 == 3) | (df.col2 == 2)).show()

+----+----+
|col1|col2|
+----+----+
|   b|   2|
|   c|   3|
+----+----+

In [84]:
df.describe().show()

+-------+----+------------------+
|summary|col1|              col2|
+-------+----+------------------+
|  count|   4|                 4|
|   mean|null|               2.5|
| stddev|null|1.2909944487358056|
|    min|   a|                 1|
|    max|   d|                 4|
+-------+----+------------------+

In [ ]:
df.agg(countDistinct("age", "name").alias('c')).collect()
[Row(c=2)]

In [88]:
df.agg(countDistinct("col1").alias("count")).show()

+-----+
|count|
+-----+
|    4|
+-----+

In [89]:
df.agg(sumDistinct("col2").alias("count_sum")).show()

+---------+
|count_sum|
+---------+
|       10|
+---------+

In [110]:
n_rdd=sc.parallelize([Row(col1 = 2),Row(col1=1),Row(col1=3),Row(col1=3),Row(col1=9),Row(col1=9)])
n_rdd.collect()
n_df=sqlContext.createDataFrame(n_rdd)

In [115]:
n_df.count()

6

In [116]:
n_df.agg(sumDistinct("col1").alias("sum_distinct")).show()  #1five

+------------+
|sum_distinct|
+------------+
|          15|
+------------+

In [118]:
n_df.agg(sum("col1")).show()

+---------+
|sum(col1)|
+---------+
|       27|
+---------+

In [119]:
n_df.agg(max("col1")).show()

+---------+
|max(col1)|
+---------+
|        9|
+---------+

In [121]:
n_df.groupby("col1")

In [123]:
n_df.groupby("col1").count().show()

+----+-----+
|col1|count|
+----+-----+
|   9|    2|
|   1|    1|
|   3|    2|
|   2|    1|
+----+-----+

In [124]:
n_df.groupby("col1").sum().show()

+----+---------+
|col1|sum(col1)|
+----+---------+
|   9|       18|
|   1|        1|
|   3|        6|
|   2|        2|
+----+---------+

In [175]:
file_header=['age','workclass','fnlwgt','education','Education-num','Marital-status','occupation','relationship ',
             'race','sex','Capital-gain ','Capital-loss ',
             'Hours-per-week','Native-country','Class(income)']
o_df=spark.read.csv("C:\\SparkCourse\\test_files\\sample_adult.csv",header=False,inferSchema=True)
o_df.printSchema()

root
 |-- _c0: integer (nullable = true)
 |-- _c1: string (nullable = true)
 |-- _c2: double (nullable = true)
 |-- _c3: string (nullable = true)
 |-- _c4: double (nullable = true)
 |-- _c5: string (nullable = true)
 |-- _c6: string (nullable = true)
 |-- _c7: string (nullable = true)
 |-- _c8: string (nullable = true)
 |-- _c9: string (nullable = true)
 |-- _c10: double (nullable = true)
 |-- _c11: double (nullable = true)
 |-- _c12: double (nullable = true)
 |-- _c13: string (nullable = true)
 |-- _c14: string (nullable = true)

In [176]:

#rdd_adv=rdd_ad.withColumnRenamed("_c0","age")
df1f=rdd_adv.toDF(*file_header)
df1f.printSchema()

root
 |-- age: integer (nullable = true)
 |-- workclass: string (nullable = true)
 |-- fnlwgt: double (nullable = true)
 |-- education: string (nullable = true)
 |-- Education-num: double (nullable = true)
 |-- Marital-status: string (nullable = true)
 |-- occupation: string (nullable = true)
 |-- relationship : string (nullable = true)
 |-- race: string (nullable = true)
 |-- sex: string (nullable = true)
 |-- Capital-gain : double (nullable = true)
 |-- Capital-loss : double (nullable = true)
 |-- Hours-per-week: double (nullable = true)
 |-- Native-country: string (nullable = true)
 |-- Class(income): string (nullable = true)

In [148]:
for i in range(15):   print((old_name[i],file_header[i]))

('_c0', 'age')
('_c1', 'workclass')
('_c2', 'fnlwgt')
('_c3', 'education')
('_c4', 'Education-num')
('_c5', 'Marital-status')
('_c6', 'occupation')
('_c7', 'relationship ')
('_c8', 'race')
('_c9', 'sex')
('_c10', 'Capital-gain ')
('_c11', 'Capital-loss ')
('_c12', 'Hours-per-week')
('_c13', 'Native-country')
('_c14', 'Class(income)')