In [69]:
# Create DataFrame
rdd=sc.parallelize([(2,'A')])   # if no comma given , it's consider as tuple
df=rdd.toDF()       # without specific the column name , it's infer the column name

In [70]:
df.show()

+---+---+
| _1| _2|
+---+---+
|  2|  A|
+---+---+

In [52]:
# Create DataFrame
from pyspark.sql import Row
rdd = sc.parallelize([Row(a=1,b=2,c=3),Row(a=4,b=5,c=6),Row(a=7,b=8,c=9)])
df=rdd.toDF()
df.show()

+---+---+---+
|  a|  b|  c|
+---+---+---+
|  1|  2|  3|
|  4|  5|  6|
|  7|  8|  9|
+---+---+---+

In [58]:
# Create DataFrame
l = [('Ankit',25),('Jalfaizy',22),('saurabh',20),('Bala',26)]
rdd = sc.parallelize(l)
e=rdd.toDF()
e.show()

+--------+---+
|      _1| _2|
+--------+---+
|   Ankit| 25|
|Jalfaizy| 22|
| saurabh| 20|
|    Bala| 26|
+--------+---+

In [60]:
# Create DataFrame
from pyspark.sql import Row
l = [('Ankit',25),('Jalfaizy',22),('saurabh',20),('Bala',26)]
rdd = sc.parallelize(l)
people = rdd.map(lambda x: Row(name=x[0], age=int(x[1])))
people.collect()

[Row(age=25, name='Ankit'),
 Row(age=22, name='Jalfaizy'),
 Row(age=20, name='saurabh'),
 Row(age=26, name='Bala')]

In [62]:
people.toDF().show()

+---+--------+
|age|    name|
+---+--------+
| 25|   Ankit|
| 22|Jalfaizy|
| 20| saurabh|
| 26|    Bala|
+---+--------+

In [78]:
#Create dataframe
input1=[Row(employee_id=25, employee_name='Ankit'),
 Row(employee_id=22, employee_name='Jalfaizy'),
 Row(employee_id=20, employee_name='saurabh'),
 Row(employee_id=26, employee_name='Bala')]

df=spark.createDataFrame(input1)
df.show()

+-----------+-------------+
|employee_id|employee_name|
+-----------+-------------+
|         25|        Ankit|
|         22|     Jalfaizy|
|         20|      saurabh|
|         26|        Ba,la|
+-----------+-------------+

In [119]:
import os
r=sc.textFile('C:\\SparkCourse\\test_files\\Test_spark.csv')

In [130]:
i_r=r.flatMap(lambda x: x.split(','))
new_r=i_r.map(lambda x: Row(col1=x))
new_r.toDF().show()

+----+
|col1|
+----+
|   1|
|   2|
|   3|
|   1|
|  98|
|  90|
|  90|
+----+

In [114]:
r=[Row(col1=123),Row(col1=989)]
dfra=spark.createDataFrame(r)
dfra.show()

+----+
|col1|
+----+
| 123|
| 989|
+----+

In [95]:
f=sc.parallelize(('a','b'))
f.collect()
ddf=f.map(lambda x : (x,))
ddf.collect()

[('a',), ('b',)]

In [131]:
#r.toDF([])

#r.count() #2
l=[Row(col1='1,2,1,'),Row(col1='98,90,98,')]
dd=sc.parallelize(l)
dd.collect()
df1=dd.toDF()
df1.show()
#df1=spark.createDataFrame(l)
#df1.show()

#r.show()

+---------+
|     col1|
+---------+
|   1,2,1,|
|98,90,98,|
+---------+

In [68]:
df.printSchema()

root
 |-- employee_id: long (nullable = true)
 |-- employee_name: string (nullable = true)

In [2]:
dat=spark.read.csv('C:\\SparkCourse\\test_files\\Test_spark.csv')

In [11]:
dat.schema['a','b','d','c'].show()

TypeError: StructType keys should be strings, integers or slices

In [9]:
dat.select(dat._c1).show()

+---+
|_c1|
+---+
|  2|
| 90|
+---+

firstName