In [1]:
sc

In [2]:
#creating RDD

listt=[(1,2,3),(7,8,9),(0,0,0)]

rdd=sc.parallelize(listt)   # Rdd created

rdd.collect()    #Reading the rdd via collect

[(1, 2, 3), (7, 8, 9), (0, 0, 0)]

In [3]:
rdd

ParallelCollectionRDD[0] at parallelize at PythonRDD.scala:194

In [5]:
print(rdd.collect())

[(1, 2, 3), (7, 8, 9), (0, 0, 0)]

In [6]:
rdd=sc.parallelize(listt).toDF(['col1','col2','col3'])

In [7]:
rdd.show()

+----+----+----+
|col1|col2|col3|
+----+----+----+
|   1|   2|   3|
|   7|   8|   9|
|   0|   0|   0|
+----+----+----+

In [12]:
df = sc.parallelize([(1, 2, 3, ’abc’), (4, 5, 6, ’def’), (7, 8, 9, ’ghi’)]).toDF([’col1’, ’col2’, ’col3’,’col4’])

In [13]:
df.show()

+----+----+----+----+
|col1|col2|col3|col4|
+----+----+----+----+
|   1|   2|   3| abc|
|   4|   5|   6| def|
|   7|   8|   9| ghi|
+----+----+----+----+

In [14]:
df.show(2)   # display first 2 lines

+----+----+----+----+
|col1|col2|col3|col4|
+----+----+----+----+
|   1|   2|   3| abc|
|   4|   5|   6| def|
+----+----+----+----+
only showing top 2 rows

In [24]:
from pyspark.sql import SparkSession as ss
columns=['Id', 'Name', 'Sallary','DepartmentId']
arra=[ ('1', 'Joe', '70000', '1'), ('2', 'Henry', '80000', '2'), ('3', 'Sam', '60000', '2'), ('4', 'Max', '90000', '1')]
Employee = spark.createDataFrame(arra,columns)    # another method to create a DataFrame

In [19]:
Employee.show()

+---+-----+-------+------------+
| Id| Name|Sallary|DepartmentId|
+---+-----+-------+------------+
|  1|  Joe|  70000|           1|
|  2|Henry|  80000|           2|
|  3|  Sam|  60000|           2|
|  4|  Max|  90000|           1|
+---+-----+-------+------------+

In [25]:
seq = (lambda x: x*10)

In [26]:
seq(2)

20

In [29]:
seq = (lambda x, y: x*10+ y*20)

In [44]:
columns=['Id', 'Name', 'Sallary','DepartmentId']
arra=[ ('1', 'Joe', '70000', '1'), ('2', 'Henry', '80000', '2'), ('3', 'Sam', '60000', '2'), ('4', 'Max', '90000', '1')]
Employee = spark.createDataFrame(arra,columns)    # another method to create a DataFrame
Employee.show()

+---+-----+-------+------------+
| Id| Name|Sallary|DepartmentId|
+---+-----+-------+------------+
|  1|  Joe|  70000|           1|
|  2|Henry|  80000|           2|
|  3|  Sam|  60000|           2|
|  4|  Max|  90000|           1|
+---+-----+-------+------------+

In [51]:
ll=[1,2,3]
#rdd=sc.parallelize(ll).toDF([])
rdd=sc.parallelize(ll)
rdd.cartesian(rdd).collect()

[(1, 1), (1, 2), (1, 3), (2, 1), (2, 2), (2, 3), (3, 1), (3, 2), (3, 3)]

In [77]:
#rdd.coalesce(1)
#rdd.collect()
rdd=sc.parallelize([1, 2, 3, 4, 5, 6],8)
rdd.collect()#.coalesce(3).glom()
#rdd.coalesce(2).collect()
rdd.getNumPartitions()

8

In [80]:
rdd.id()

150

In [81]:
rdd.isCheckpointed()

False

In [87]:
l=range(10)
rdd=sc.parallelize(zip(l,l),10)
rdd.collect()

[(0, 0),
 (1, 1),
 (2, 2),
 (3, 3),
 (4, 4),
 (5, 5),
 (6, 6),
 (7, 7),
 (8, 8),
 (9, 9)]

In [1]:
l=range(3)
l

range(0, 3)

In [2]:
for i in l:
    print(i)

0
1
2

In [5]:
rdd=sc.parallelize(zip(l,l))
rdd.collect()

[(0, 0), (1, 1), (2, 2)]

In [6]:
# we define a list of integers
numbers = [1, 4, 6, 2, 9, 10]

# Use reduce to combine numbers
from functools import reduce

print(numbers)
reduce(lambda x,y: "(" + str(x) + ", " + str(y) + ")",numbers)

[1, 4, 6, 2, 9, 10]

'(((((1, 4), 6), 2), 9), 10)'

In [27]:
#map - apply function to each element in the tuple
l=[2,3,12]
#t=[(2,3,2),(2,3,2),(2,3,2)]
t=((2,3,2),([2,3,2],3,2),(2,3,2))

for i in t:
    print(i*2)

# parallelize accepts both list and tuple

(2, 3, 2, 2, 3, 2)
([2, 3, 2], 3, 2, [2, 3, 2], 3, 2)
(2, 3, 2, 2, 3, 2)

In [42]:
dict={'a':(2,3,2),'b':({'z':123},2,3)}
dict

{'a': (2, 3, 2), 'b': ({'z': 123}, 2, 3)}

In [73]:
#rdd=sc.parallelize(s)
rdd=sc.parallelize(dict.values())
res=rdd.collect()
res[1][0]
# tuple 
#list
#dict
#set

{'z': 123}

In [50]:
dict['b'][0]['z']

123

In [53]:
s=set((1,2,3))

In [74]:
s

{2, 3, 4, 9}

In [75]:
dd=sc.parallelize(s)
dd.collect()

[9, 2, 3, 4]

In [94]:
  # this step creates RDD
rdd.collect()

[(2, 3), (8, 9), (11, 12)]

In [103]:
def f(x):
    print(x)

#map  - i want to muliple with 2 on enitre input_value
input_value=[(2,3),(8,9),(11,12)]
x=sc.parallelize(input_value)
y=x.map(f(x))

ParallelCollectionRDD[31] at parallelize at PythonRDD.scala:194

In [92]:
def f(v):
    return (v[0]*2,v[1]*2)
f((2,3))

(4, 6)

In [98]:
g=lambda v:(v[0]*2,v[1]*2)
g((2,3))

(4, 6)

In [105]:
# map
x = sc.parallelize([1,2,3]) # sc = spark context, parallelize creates an RDD from the passed object
y = x.map(lambda x: (x,x**2))
print(x.collect())  # collect copies RDD elements to a list on the driver
print(y.collect())
print(y.first())

[1, 2, 3]
[(1, 1), (2, 4), (3, 9)]
(1, 1)

In [107]:
# map
x = sc.parallelize([1,2,3]) # sc = spark context, parallelize creates an RDD from the passed object
y = x.flatMap(lambda x: (x,x**2))
print(x.collect())  # collect copies RDD elements to a list on the driver
print(y.collect())
print(y.first())

[1, 2, 3]
[1, 1, 2, 4, 3, 9]
1

In [114]:
input_value=[2,4,10,20,13]
rdd=sc.parallelize(input_value)
new_rdd=rdd.filter(lambda x: (x%2) == 0)
new_rdd.collect()
# print once even number

[2, 4, 10, 20]

In [115]:
input_value=[2,4,10,20,13,2,2,2]
rdd=sc.parallelize(input_value)
rdd.distinct().collect()
#distinct value

[4, 20, 13, 2, 10]

In [116]:
# union
x = sc.parallelize(['A','A','B'])
y = sc.parallelize(['D','C','A'])
z = x.union(y)
print(z.collect())

['A', 'A', 'B', 'D', 'C', 'A']

In [117]:
# intersection
x = sc.parallelize(['A','A','B'])
y = sc.parallelize(['D','C','A'])
z = x.intersection(y)
print(z.collect())

['A']

In [118]:
tmp = [('a', 1), ('b', 2), ('1', 3), ('d', 4), ('2', 5)]
sc.parallelize(tmp).sortBy(lambda x: x[0]).collect()
#sc.parallelize(tmp).sortBy(lambda x: x[1]).collect()

[('1', 3), ('2', 5), ('a', 1), ('b', 2), ('d', 4)]

In [119]:
sc.parallelize(tmp).sortBy(lambda x: x[1]).collect()

[('a', 1), ('b', 2), ('1', 3), ('d', 4), ('2', 5)]

In [120]:
# sortByKey
x = sc.parallelize([('B',1),('A',2),('C',3)])
y = x.sortByKey()
print(y.collect())

[('A', 2), ('B', 1), ('C', 3)]

In [124]:
x = sc.parallelize(['A','B'])
y = sc.parallelize(['C','D'])
x.cartesian(x).collect()
x.cartesian(y).collect()

[('A', 'C'), ('A', 'D'), ('B', 'C'), ('B', 'D')]

In [126]:
# glom
x = sc.parallelize(['C','B','A'], 2)
y = x.glom()
print(x.collect()) 
print(y.collect())
#return an RDD created by coalescing all elements within each partition into a list.

['C', 'B', 'A']
[['C'], ['B', 'A']]

In [6]:
for i in range(10):
    print(i)
for _ in range(10):
    _ =  2
    print(_)

0
1
2
3
4
5
6
7
8
9
2
2
2
2
2
2
2
2
2
2