In [1]:
import pyspark.sql

In [2]:
sc

In [3]:
import os
os.getcwd()

'C:\\Users\\venk\\Desktop\\py_pgm'

In [4]:
Lines=sc.textFile('C:\\Users\\venk\\Desktop\\py_pgm\\sample_file\\sample.txt')

In [5]:
type(Lines)

pyspark.rdd.RDD

In [6]:
Lines.count()

4

In [7]:
part=Lines.map(lambda l: l.split(","))

In [9]:
part.collect()

[['1', 'name1', 'sal1'],
 ['2', 'name2', 'sal2'],
 ['3', 'name3', 'sal3'],
 ['4', 'name4', 'sal4']]

In [20]:
Lines.collect()

['1,name1,sal1', '2,name2,sal2', '3,name3,sal3', '4,name4,sal4']

In [23]:
df=part.toDF()

In [24]:
df.show()

+---+-----+----+
| _1|   _2|  _3|
+---+-----+----+
|  1|name1|sal1|
|  2|name2|sal2|
|  3|name3|sal3|
|  4|name4|sal4|
+---+-----+----+

In [39]:
from pyspark.sql import Row
rows= part.map(lambda p: Row(emp_id=p[0],name=p[1],sal=p[2]))

In [40]:
type(rows)

pyspark.rdd.PipelinedRDD

In [41]:
rows.collect()

[Row(emp_id='1', name='name1', sal='sal1'),
 Row(emp_id='2', name='name2', sal='sal2'),
 Row(emp_id='3', name='name3', sal='sal3'),
 Row(emp_id='4', name='name4', sal='sal4')]

In [45]:
df=spark.createDataFrame(rows)

In [47]:
df.show()

+------+-----+----+
|emp_id| name| sal|
+------+-----+----+
|     1|name1|sal1|
|     2|name2|sal2|
|     3|name3|sal3|
|     4|name4|sal4|
+------+-----+----+

In [53]:
l="Hello".split('l')

In [54]:
l

['He', '', 'o']

In [75]:
# Calculate Sum value
sum_sal=0
Lines=sc.textFile('C:\\Users\\venk\\Desktop\\py_pgm\\sample_file\\sample.txt')
each_line= Lines.map(lambda l : l.split(','))
sum_sal = each_line.map(lambda s : int(s[2]))
sum_sal.sum()   # sum of sal

10000

In [84]:
sum_sal.min()   # minimum salary

1000

In [86]:
sum_sal.max()  # maximum salary

4000

In [88]:
sum_sal.stats()

(count: 4, mean: 2500.0, stdev: 1118.033988749895, max: 4000.0, min: 1000.0)

In [68]:
summ=0

def f(n):
    summ += n
    return summ

In [81]:
i=0
while True:
    i = i+1
    print ('value of i is :',i )
    if (i >= 10) :
        break

value of i is : 1
value of i is : 2
value of i is : 3
value of i is : 4
value of i is : 5
value of i is : 6
value of i is : 7
value of i is : 8
value of i is : 9
value of i is : 10

In [82]:
sc.master

'local[*]'

In [96]:
str = 'freeCodeCamp'

print(str[-5:-2]  )
print('value is : ',str[-3:2]   )

eCa
value is :

In [1]:
studentMarksData = [["si1","year1",62.08,62.4],["si1","year2",75.94,76.75],["si2","year1",68.26,72.95],["si2","year2",85.49,75.8],["si3","year1",75.08,79.84],["si3","year2",54.98,87.72],["si4","year1",50.03,66.85],["si4","year2",71.26,69.77],["si5","year1",52.74,76.27],["si5","year2",50.39,68.58],["si6","year1",74.86,60.8],["si6","year2",58.29,62.38],["si7","year1",63.95,74.51],["si7","year2",66.69,56.92]]

In [2]:
rdd1=sc.parallelize(studentMarksData)

In [6]:
rdd1.collect()

[['si1', 'year1', 62.08, 62.4],
 ['si1', 'year2', 75.94, 76.75],
 ['si2', 'year1', 68.26, 72.95],
 ['si2', 'year2', 85.49, 75.8],
 ['si3', 'year1', 75.08, 79.84],
 ['si3', 'year2', 54.98, 87.72],
 ['si4', 'year1', 50.03, 66.85],
 ['si4', 'year2', 71.26, 69.77],
 ['si5', 'year1', 52.74, 76.27],
 ['si5', 'year2', 50.39, 68.58],
 ['si6', 'year1', 74.86, 60.8],
 ['si6', 'year2', 58.29, 62.38],
 ['si7', 'year1', 63.95, 74.51],
 ['si7', 'year2', 66.69, 56.92]]

In [12]:
averg = rdd1.map(lambda x : [x[0],x[1],(x[2]+x[3])/2])

In [13]:
averg.collect()

[['si1', 'year1', 62.239999999999995],
 ['si1', 'year2', 76.345],
 ['si2', 'year1', 70.605],
 ['si2', 'year2', 80.645],
 ['si3', 'year1', 77.46000000000001],
 ['si3', 'year2', 71.35],
 ['si4', 'year1', 58.44],
 ['si4', 'year2', 70.515],
 ['si5', 'year1', 64.505],
 ['si5', 'year2', 59.485],
 ['si6', 'year1', 67.83],
 ['si6', 'year2', 60.335],
 ['si7', 'year1', 69.23],
 ['si7', 'year2', 61.805]]

In [15]:
second_year_data=averg.filter(lambda x: x[1] == 'year2')

In [16]:
second_year_data.collect()   # second year data only

[['si1', 'year2', 76.345],
 ['si2', 'year2', 80.645],
 ['si3', 'year2', 71.35],
 ['si4', 'year2', 70.515],
 ['si5', 'year2', 59.485],
 ['si6', 'year2', 60.335],
 ['si7', 'year2', 61.805]]

In [23]:
sorted1=second_year_data.sortBy(lambda x : -x[2])   # - indicate desc order

In [29]:
sorted1.take(3)

[['si2', 'year2', 80.645], ['si1', 'year2', 76.345], ['si3', 'year2', 71.35]]

In [5]:
list2=[2,3,4,89,23]
list1=[2,3,4,19,20]

In [6]:
#cmp(list1,list2)

In [7]:
l1=len(list1)
l2=len(list2)
if l1 == l2:
    for i in range(l1):
        if (list1[i] == list2[i]):
            pass
        else:
            print(list1[i])

19
20

In [8]:
data2001 = ['RIN1', 'RIN2', 'RIN3', 'RIN4', 'RIN5', 'RIN6', 'RIN7']
data2002 = ['RIN3', 'RIN4', 'RIN7', 'RIN8', 'RIN9']
data2003 = ['RIN4', 'RIN8', 'RIN10', 'RIN11', 'RIN12']

In [10]:
rdd1=sc.parallelize(data2001)
rdd2=sc.parallelize(data2002)
rdd3=sc.parallelize(data2003)

In [14]:
rdd1.subtract(rdd2).subtract(rdd3).collect()

['RIN1', 'RIN2', 'RIN5', 'RIN6']

In [25]:
rdd1.intersection(rdd2).intersection(rdd3).collect()

['RIN4']

In [24]:
A = {1, 2}
B = {2, 3, 4}
C = {5}

A.union(B)
A.intersection(B)
A.difference(B)

{1}

In [2]:

line_no=1
Lines=sc.textFile('C:\\Users\\venk\\Desktop\\py_pgm\\sample_file\\sample.txt')
each_line= Lines.flatMap(lambda l : l.split(','))
each_line.collect()

['1',
 'name1',
 '1000',
 '2',
 'name2',
 '2000',
 '3',
 'name3',
 '3000',
 '4',
 'name4',
 '4000']

In [4]:
count = each_line.map(lambda l : len(l))

In [9]:
count.collect()

[1, 5, 4, 1, 5, 4, 1, 5, 4, 1, 5, 4]

In [8]:
count.sum()

40

In [11]:
Lines=sc.textFile('C:\\Users\\venk\\Desktop\\py_pgm\\sample_file\\sample.txt')
each_line= Lines.map(lambda l : len(l))
each_line.collect()

[12, 12, 12, 12]

In [12]:
each_line.getNumPartitions()

2

In [15]:
each_line.coalesce(1)

CoalescedRDD[14] at coalesce at <unknown>:0

In [16]:
each_line.getNumPartitions()

2

In [22]:
sc.defaultMinPartitions

2

In [23]:
each_line.saveAsTextFile('C:\\Users\\venk\\Desktop\\py_pgm\\output_file\\sample.txt')

In [2]:
l=[('f',28),('a',29),('g',28)]
s=['name','age']

ndf=spark.createDataFrame(l,s)

In [3]:
ndf.show()

+----+---+
|name|age|
+----+---+
|   f| 28|
|   a| 29|
|   g| 28|
+----+---+

In [6]:
l=[(1,'name1',1000,23),(1,'name2',3000,83),(1,'name3',1800,83),(1,'name4',9000,23),(1,'name7',2000,79)]
s=['empid','name','sal','depid']
df=spark.createDataFrame(l,s)

In [7]:
df.show()

+-----+-----+----+-----+
|empid| name| sal|depid|
+-----+-----+----+-----+
|    1|name1|1000|   23|
|    1|name2|3000|   83|
|    1|name3|1800|   83|
|    1|name4|9000|   23|
|    1|name7|2000|   79|
+-----+-----+----+-----+

In [16]:
grp=df.groupby('depid')

In [18]:
type(grp)

pyspark.sql.group.GroupedData

In [2]:
df=spark.read.csv("C:\\Users\\venk\\Documents\\Pyspark\\test_files\\sample_adult.csv",Header=False,)

In [4]:
df.show(3)

+---+-----------------+-------+----------+---+-------------------+------------------+--------------+------+-----+-----+----+----+--------------+------+
|_c0|              _c1|    _c2|       _c3|_c4|                _c5|               _c6|           _c7|   _c8|  _c9| _c10|_c11|_c12|          _c13|  _c14|
+---+-----------------+-------+----------+---+-------------------+------------------+--------------+------+-----+-----+----+----+--------------+------+
| 39|        State-gov|  77516| Bachelors| 13|      Never-married|      Adm-clerical| Not-in-family| White| Male| 2174|   0|  40| United-States| <=50K|
| 50| Self-emp-not-inc|  83311| Bachelors| 13| Married-civ-spouse|   Exec-managerial|       Husband| White| Male|    0|   0|  13| United-States| <=50K|
| 38|          Private| 215646|   HS-grad|  9|           Divorced| Handlers-cleaners| Not-in-family| White| Male|    0|   0|  40| United-States| <=50K|
+---+-----------------+-------+----------+---+-------------------+------------------+--------------+------+-----+-----+----+----+--------------+------+
only showing top 3 rows

In [13]:
df=df.withColumnRenamed('cx','age')

In [14]:
df.show(2)

+---+-----------------+------+----------+---+-------------------+----------------+--------------+------+-----+-----+----+----+--------------+------+
|age|              _c1|   _c2|       _c3|_c4|                _c5|             _c6|           _c7|   _c8|  _c9| _c10|_c11|_c12|          _c13|  _c14|
+---+-----------------+------+----------+---+-------------------+----------------+--------------+------+-----+-----+----+----+--------------+------+
| 39|        State-gov| 77516| Bachelors| 13|      Never-married|    Adm-clerical| Not-in-family| White| Male| 2174|   0|  40| United-States| <=50K|
| 50| Self-emp-not-inc| 83311| Bachelors| 13| Married-civ-spouse| Exec-managerial|       Husband| White| Male|    0|   0|  13| United-States| <=50K|
+---+-----------------+------+----------+---+-------------------+----------------+--------------+------+-----+-----+----+----+--------------+------+
only showing top 2 rows

In [15]:
df.count()

36

In [19]:
df.sort('age').show(2)

+---+--------+-------+-------------+---+--------------+-------------+----------+------+-----+----+----+----+--------------+------+
|age|     _c1|    _c2|          _c3|_c4|           _c5|          _c6|       _c7|   _c8|  _c9|_c10|_c11|_c12|          _c13|  _c14|
+---+--------+-------+-------------+---+--------------+-------------+----------+------+-----+----+----+----+--------------+------+
| 19| Private| 168294|      HS-grad|  9| Never-married| Craft-repair| Own-child| White| Male|   0|   0|  40| United-States| <=50K|
| 20| Private| 266015| Some-college| 10| Never-married|        Sales| Own-child| Black| Male|   0|   0|  44| United-States| <=50K|
+---+--------+-------+-------------+---+--------------+-------------+----------+------+-----+----+----+----+--------------+------+
only showing top 2 rows

In [21]:
df.select('age').show(2)

+---+
|age|
+---+
| 39|
| 50|
+---+
only showing top 2 rows

In [34]:
#df.createOrReplaceView('Sqldf')
df.createTempView('sqldf')

In [50]:
spark.sql("select avg('age') from sqldf").show()

+------------------------+
|avg(CAST(age AS DOUBLE))|
+------------------------+
|                    null|
+------------------------+

In [52]:
df.printSchema()

root
 |-- age: string (nullable = true)
 |-- _c1: string (nullable = true)
 |-- _c2: string (nullable = true)
 |-- _c3: string (nullable = true)
 |-- _c4: string (nullable = true)
 |-- _c5: string (nullable = true)
 |-- _c6: string (nullable = true)
 |-- _c7: string (nullable = true)
 |-- _c8: string (nullable = true)
 |-- _c9: string (nullable = true)
 |-- _c10: string (nullable = true)
 |-- _c11: string (nullable = true)
 |-- _c12: string (nullable = true)
 |-- _c13: string (nullable = true)
 |-- _c14: string (nullable = true)

In [38]:
spark.sql('select count(*) from sqldf where age = 34').show()

+--------+
|count(1)|
+--------+
|       1|
+--------+

In [41]:
spark.sql('select * from sqldf where _c7 = ')').show()

SyntaxError: invalid syntax (<ipython-input-41-d9bb5161022f>, line 1)

In [74]:
from pyspark.sql.types import *
df=df.withColumn('age',df.age.cast(IntegerType()))

In [77]:
df1=spark.createDataFrame(df)

TypeError: data is already a DataFrame

In [66]:
df.createTempView('sqldf1')

In [68]:
spark.sql('select * from sqldf1 limit 2').show()

+---+-----------------+------+----------+---+-------------------+----------------+--------------+------+-----+-----+----+----+--------------+------+
|age|              _c1|   _c2|       _c3|_c4|                _c5|             _c6|           _c7|   _c8|  _c9| _c10|_c11|_c12|          _c13|  _c14|
+---+-----------------+------+----------+---+-------------------+----------------+--------------+------+-----+-----+----+----+--------------+------+
| 39|        State-gov| 77516| Bachelors| 13|      Never-married|    Adm-clerical| Not-in-family| White| Male| 2174|   0|  40| United-States| <=50K|
| 50| Self-emp-not-inc| 83311| Bachelors| 13| Married-civ-spouse| Exec-managerial|       Husband| White| Male|    0|   0|  13| United-States| <=50K|
+---+-----------------+------+----------+---+-------------------+----------------+--------------+------+-----+-----+----+----+--------------+------+

In [9]:
l=[(1,2),(1,3),(1,4)]
s=['a','b']

dff=spark.createDataFrame(l,s)
dff.show()

+---+---+
|  a|  b|
+---+---+
|  1|  2|
|  1|  3|
|  1|  4|
+---+---+

In [90]:
l1=[(1,2)]
tempdf=spark.createDataFrame(l1)
tempdf.show()

+---+---+
| _1| _2|
+---+---+
|  1|  2|
+---+---+

In [91]:
dff= dff.union(tempdf)

In [92]:
dff.show()

+---+---+
|  a|  b|
+---+---+
|  1|  2|
|  1|  3|
|  1|  4|
|  1|  2|
+---+---+

In [94]:
dff.dropDuplicates().show()

+---+---+
|  a|  b|
+---+---+
|  1|  3|
|  1|  4|
|  1|  2|
+---+---+

In [2]:
t=(2,2,2)

In [3]:
t

(2, 2, 2)

In [5]:
s=set((2,3,4))

In [6]:
s

{2, 3, 4}

In [7]:
s1=set((2,3,3))

In [8]:
s1

{2, 3}

In [10]:
dff.show()

+---+---+
|  a|  b|
+---+---+
|  1|  2|
|  1|  3|
|  1|  4|
+---+---+

In [16]:
from pyspark.sql import functions as f
dff.select(f.countDistinct(dff.b)).show()

+-----------------+
|count(DISTINCT b)|
+-----------------+
|                3|
+-----------------+

In [21]:
dff.select(f.dense_rank(dff.b)).show()

TypeError: _() takes 0 positional arguments but 1 was given

In [25]:
from pyspark.sql.functions import *
from pyspark.sql.window import Window

ranked =  dff.withColumn(
  "rank", dense_rank().over(Window.orderBy(desc("b"))))

In [26]:
ranked.show()

+---+---+----+
|  a|  b|rank|
+---+---+----+
|  1|  4|   1|
|  1|  3|   2|
|  1|  2|   3|
+---+---+----+

In [27]:
dff.show()

+---+---+
|  a|  b|
+---+---+
|  1|  2|
|  1|  3|
|  1|  4|
+---+---+

In [33]:
dff.filter(dff.a > 1).show()

+---+---+
|  a|  b|
+---+---+
+---+---+

In [35]:
dff.printSchema()

root
 |-- a: long (nullable = true)
 |-- b: long (nullable = true)

In [1]:
sc

In [5]:
conff=spark.sparkContext.getConf()

In [6]:
type(conff)

pyspark.conf.SparkConf

In [7]:
print(conff)

<pyspark.conf.SparkConf object at 0x0000004D1EB7C128>

In [24]:
#j=conff.getAll()
j=conff.get('spark.app.name')

In [25]:
j

'PySparkShell'

In [26]:
j=conff.getAll()

In [27]:
j  # type is list

[('spark.sql.catalogImplementation', 'hive'),
 ('spark.rdd.compress', 'True'),
 ('spark.serializer.objectStreamReset', '100'),
 ('spark.master', 'local[*]'),
 ('spark.driver.port', '65025'),
 ('spark.executor.id', 'driver'),
 ('spark.submit.deployMode', 'client'),
 ('spark.app.id', 'local-1557206793108'),
 ('spark.driver.host', 'ven'),
 ('spark.app.name', 'PySparkShell'),
 ('spark.ui.showConsoleProgress', 'true')]

In [5]:
rdd=sc.parallelize([(2,3),(4,5)])

In [6]:
rdd.collect()

[(2, 3), (4, 5)]

In [10]:
pd=rdd.toPandas()

AttributeError: 'RDD' object has no attribute 'toPandas'

In [16]:
rdd1=sc.parallelize([(8,9)])

In [17]:
rdd1.collect()

[(8, 9)]

In [20]:
rdd2.collect()

[(8, 9), (2, 3), (4, 5)]

In [21]:
rdd2.count()

3

In [39]:
rdd2.countByKey()

defaultdict(int, {8: 1, 2: 1, 4: 1})

In [40]:
rdd2.countByValue()

defaultdict(int, {(8, 9): 1, (2, 3): 1, (4, 5): 1})

In [42]:
rdd2.collectAsMap()

{8: 9, 2: 3, 4: 5}

In [43]:
rdd2.stats()

Py4JJavaError: An error occurred while calling z:org.apache.spark.api.python.PythonRDD.collectAndServe.
: org.apache.spark.SparkException: Job aborted due to stage failure: Task 3 in stage 13.0 failed 1 times, most recent failure: Lost task 3.0 in stage 13.0 (TID 92, localhost, executor driver): org.apache.spark.api.python.PythonException: Traceback (most recent call last):
  File "C:\Spark\python\lib\pyspark.zip\pyspark\worker.py", line 253, in main
  File "C:\Spark\python\lib\pyspark.zip\pyspark\worker.py", line 248, in process
  File "C:\Spark\python\pyspark\rdd.py", line 2440, in pipeline_func
    return func(split, prev_func(split, iterator))
  File "C:\Spark\python\pyspark\rdd.py", line 350, in func
    return f(iterator)
  File "C:\Spark\python\pyspark\rdd.py", line 1063, in <lambda>
    return self.mapPartitions(lambda i: [StatCounter(i)]).reduce(redFunc)
  File "C:\Spark\python\lib\pyspark.zip\pyspark\statcounter.py", line 43, in __init__
    self.merge(v)
  File "C:\Spark\python\lib\pyspark.zip\pyspark\statcounter.py", line 47, in merge
    delta = value - self.mu
TypeError: unsupported operand type(s) for -: 'tuple' and 'float'

	at org.apache.spark.api.python.BasePythonRunner$ReaderIterator.handlePythonException(PythonRunner.scala:332)
	at org.apache.spark.api.python.PythonRunner$$anon$1.read(PythonRunner.scala:471)
	at org.apache.spark.api.python.PythonRunner$$anon$1.read(PythonRunner.scala:454)
	at org.apache.spark.api.python.BasePythonRunner$ReaderIterator.hasNext(PythonRunner.scala:286)
	at org.apache.spark.InterruptibleIterator.hasNext(InterruptibleIterator.scala:37)
	at scala.collection.Iterator$class.foreach(Iterator.scala:893)
	at org.apache.spark.InterruptibleIterator.foreach(InterruptibleIterator.scala:28)
	at scala.collection.generic.Growable$class.$plus$plus$eq(Growable.scala:59)
	at scala.collection.mutable.ArrayBuffer.$plus$plus$eq(ArrayBuffer.scala:104)
	at scala.collection.mutable.ArrayBuffer.$plus$plus$eq(ArrayBuffer.scala:48)
	at scala.collection.TraversableOnce$class.to(TraversableOnce.scala:310)
	at org.apache.spark.InterruptibleIterator.to(InterruptibleIterator.scala:28)
	at scala.collection.TraversableOnce$class.toBuffer(TraversableOnce.scala:302)
	at org.apache.spark.InterruptibleIterator.toBuffer(InterruptibleIterator.scala:28)
	at scala.collection.TraversableOnce$class.toArray(TraversableOnce.scala:289)
	at org.apache.spark.InterruptibleIterator.toArray(InterruptibleIterator.scala:28)
	at org.apache.spark.rdd.RDD$$anonfun$collect$1$$anonfun$12.apply(RDD.scala:945)
	at org.apache.spark.rdd.RDD$$anonfun$collect$1$$anonfun$12.apply(RDD.scala:945)
	at org.apache.spark.SparkContext$$anonfun$runJob$5.apply(SparkContext.scala:2074)
	at org.apache.spark.SparkContext$$anonfun$runJob$5.apply(SparkContext.scala:2074)
	at org.apache.spark.scheduler.ResultTask.runTask(ResultTask.scala:87)
	at org.apache.spark.scheduler.Task.run(Task.scala:109)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:345)
	at java.util.concurrent.ThreadPoolExecutor.runWorker(Unknown Source)
	at java.util.concurrent.ThreadPoolExecutor$Worker.run(Unknown Source)
	at java.lang.Thread.run(Unknown Source)

Driver stacktrace:
	at org.apache.spark.scheduler.DAGScheduler.org$apache$spark$scheduler$DAGScheduler$$failJobAndIndependentStages(DAGScheduler.scala:1661)
	at org.apache.spark.scheduler.DAGScheduler$$anonfun$abortStage$1.apply(DAGScheduler.scala:1649)
	at org.apache.spark.scheduler.DAGScheduler$$anonfun$abortStage$1.apply(DAGScheduler.scala:1648)
	at scala.collection.mutable.ResizableArray$class.foreach(ResizableArray.scala:59)
	at scala.collection.mutable.ArrayBuffer.foreach(ArrayBuffer.scala:48)
	at org.apache.spark.scheduler.DAGScheduler.abortStage(DAGScheduler.scala:1648)
	at org.apache.spark.scheduler.DAGScheduler$$anonfun$handleTaskSetFailed$1.apply(DAGScheduler.scala:831)
	at org.apache.spark.scheduler.DAGScheduler$$anonfun$handleTaskSetFailed$1.apply(DAGScheduler.scala:831)
	at scala.Option.foreach(Option.scala:257)
	at org.apache.spark.scheduler.DAGScheduler.handleTaskSetFailed(DAGScheduler.scala:831)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.doOnReceive(DAGScheduler.scala:1882)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:1831)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:1820)
	at org.apache.spark.util.EventLoop$$anon$1.run(EventLoop.scala:48)
	at org.apache.spark.scheduler.DAGScheduler.runJob(DAGScheduler.scala:642)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2034)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2055)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2074)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2099)
	at org.apache.spark.rdd.RDD$$anonfun$collect$1.apply(RDD.scala:945)
	at org.apache.spark.rdd.RDDOperationScope$.withScope(RDDOperationScope.scala:151)
	at org.apache.spark.rdd.RDDOperationScope$.withScope(RDDOperationScope.scala:112)
	at org.apache.spark.rdd.RDD.withScope(RDD.scala:363)
	at org.apache.spark.rdd.RDD.collect(RDD.scala:944)
	at org.apache.spark.api.python.PythonRDD$.collectAndServe(PythonRDD.scala:165)
	at org.apache.spark.api.python.PythonRDD.collectAndServe(PythonRDD.scala)
	at sun.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at sun.reflect.NativeMethodAccessorImpl.invoke(Unknown Source)
	at sun.reflect.DelegatingMethodAccessorImpl.invoke(Unknown Source)
	at java.lang.reflect.Method.invoke(Unknown Source)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:357)
	at py4j.Gateway.invoke(Gateway.java:282)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.GatewayConnection.run(GatewayConnection.java:238)
	at java.lang.Thread.run(Unknown Source)
Caused by: org.apache.spark.api.python.PythonException: Traceback (most recent call last):
  File "C:\Spark\python\lib\pyspark.zip\pyspark\worker.py", line 253, in main
  File "C:\Spark\python\lib\pyspark.zip\pyspark\worker.py", line 248, in process
  File "C:\Spark\python\pyspark\rdd.py", line 2440, in pipeline_func
    return func(split, prev_func(split, iterator))
  File "C:\Spark\python\pyspark\rdd.py", line 350, in func
    return f(iterator)
  File "C:\Spark\python\pyspark\rdd.py", line 1063, in <lambda>
    return self.mapPartitions(lambda i: [StatCounter(i)]).reduce(redFunc)
  File "C:\Spark\python\lib\pyspark.zip\pyspark\statcounter.py", line 43, in __init__
    self.merge(v)
  File "C:\Spark\python\lib\pyspark.zip\pyspark\statcounter.py", line 47, in merge
    delta = value - self.mu
TypeError: unsupported operand type(s) for -: 'tuple' and 'float'

	at org.apache.spark.api.python.BasePythonRunner$ReaderIterator.handlePythonException(PythonRunner.scala:332)
	at org.apache.spark.api.python.PythonRunner$$anon$1.read(PythonRunner.scala:471)
	at org.apache.spark.api.python.PythonRunner$$anon$1.read(PythonRunner.scala:454)
	at org.apache.spark.api.python.BasePythonRunner$ReaderIterator.hasNext(PythonRunner.scala:286)
	at org.apache.spark.InterruptibleIterator.hasNext(InterruptibleIterator.scala:37)
	at scala.collection.Iterator$class.foreach(Iterator.scala:893)
	at org.apache.spark.InterruptibleIterator.foreach(InterruptibleIterator.scala:28)
	at scala.collection.generic.Growable$class.$plus$plus$eq(Growable.scala:59)
	at scala.collection.mutable.ArrayBuffer.$plus$plus$eq(ArrayBuffer.scala:104)
	at scala.collection.mutable.ArrayBuffer.$plus$plus$eq(ArrayBuffer.scala:48)
	at scala.collection.TraversableOnce$class.to(TraversableOnce.scala:310)
	at org.apache.spark.InterruptibleIterator.to(InterruptibleIterator.scala:28)
	at scala.collection.TraversableOnce$class.toBuffer(TraversableOnce.scala:302)
	at org.apache.spark.InterruptibleIterator.toBuffer(InterruptibleIterator.scala:28)
	at scala.collection.TraversableOnce$class.toArray(TraversableOnce.scala:289)
	at org.apache.spark.InterruptibleIterator.toArray(InterruptibleIterator.scala:28)
	at org.apache.spark.rdd.RDD$$anonfun$collect$1$$anonfun$12.apply(RDD.scala:945)
	at org.apache.spark.rdd.RDD$$anonfun$collect$1$$anonfun$12.apply(RDD.scala:945)
	at org.apache.spark.SparkContext$$anonfun$runJob$5.apply(SparkContext.scala:2074)
	at org.apache.spark.SparkContext$$anonfun$runJob$5.apply(SparkContext.scala:2074)
	at org.apache.spark.scheduler.ResultTask.runTask(ResultTask.scala:87)
	at org.apache.spark.scheduler.Task.run(Task.scala:109)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:345)
	at java.util.concurrent.ThreadPoolExecutor.runWorker(Unknown Source)
	at java.util.concurrent.ThreadPoolExecutor$Worker.run(Unknown Source)
	... 1 more

In [44]:
rdd3=sc.parallelize([3,4,5,3,2,3])

In [45]:
rdd3.stats()

(count: 6, mean: 3.3333333333333335, stdev: 0.9428090415820634, max: 5.0, min: 2.0)