In [1]:
df=spark.read.csv('.\\sample_file\\100_records.csv',header=True)

In [2]:
df.show(2)

+------+-----------+----------+--------------+---------+------+--------------------+----------------+-------------+--------------------+-------------+-------------+-----------+--------------+---------------+------------------+---------------+---------------+----------------+---------------------+-----------+--------------+--------------+---------+----------------------+------+-----------+-----------+------------+----------+-------+---------+-----+-----+------+----------+-------------+
|Emp ID|Name Prefix|First Name|Middle Initial|Last Name|Gender|              E Mail|   Father's Name|Mother's Name|Mother's Maiden Name|Date of Birth|Time of Birth|Age in Yrs.|Weight in Kgs.|Date of Joining|Quarter of Joining|Half of Joining|Year of Joining|Month of Joining|Month Name of Joining|Short Month|Day of Joining|DOW of Joining|Short DOW|Age in Company (Years)|Salary|Last % Hike|        SSN|  Phone No. |Place Name| County|     City|State|  Zip|Region| User Name|     Password|
+------+-----------+----------+--------------+---------+------+--------------------+----------------+-------------+--------------------+-------------+-------------+-----------+--------------+---------------+------------------+---------------+---------------+----------------+---------------------+-----------+--------------+--------------+---------+----------------------+------+-----------+-----------+------------+----------+-------+---------+-----+-----+------+----------+-------------+
|677509|       Drs.|      Lois|             H|   Walker|     F|lois.walker@hotma...|   Donald Walker| Helen Walker|               Lewis|    3/29/1981|  02:31:49 AM|      36.36|            60|     11/24/2003|                Q4|             H2|           2003|              11|             November|        Nov|            24|        Monday|      Mon|                 13.68|168251|        21%|467-99-4677|303-572-8492|    Denver| Denver|   Denver|   CO|80224|  West|  lhwalker|DCa}.T}X:v?NP|
|940761|        Ms.|    Brenda|             S| Robinson|     F|brenda.robinson@g...|Raymond Robinson|Judy Robinson|               Perry|    7/31/1970|  12:13:27 PM|      47.02|            60|      7/27/2008|                Q3|             H2|           2008|               7|                 July|        Jul|            27|        Sunday|      Sun|                  9.01| 51063|        27%|537-71-4566|225-945-4954| Stonewall|De Soto|Stonewall|   LA|71078| South|bsrobinson|TCo\j#Zg;SQ~o|
+------+-----------+----------+--------------+---------+------+--------------------+----------------+-------------+--------------------+-------------+-------------+-----------+--------------+---------------+------------------+---------------+---------------+----------------+---------------------+-----------+--------------+--------------+---------+----------------------+------+-----------+-----------+------------+----------+-------+---------+-----+-----+------+----------+-------------+
only showing top 2 rows

In [3]:
df.select('Emp ID','Name Prefix','First Name').show(5)

+------+-----------+----------+
|Emp ID|Name Prefix|First Name|
+------+-----------+----------+
|677509|       Drs.|      Lois|
|940761|        Ms.|    Brenda|
|428945|        Dr.|       Joe|
|408351|       Drs.|     Diane|
|193819|        Mr.|  Benjamin|
+------+-----------+----------+
only showing top 5 rows

In [24]:
from pyspark.sql.functions import *
df.select('Emp ID').orderBy('Emp ID'.asc()).show(5)

AttributeError: 'str' object has no attribute 'asc'

In [27]:
df.select('Date of Birth').show(5)

+-------------+
|Date of Birth|
+-------------+
|    3/29/1981|
|    7/31/1970|
|    6/16/1963|
|    12/4/1977|
|    4/17/1977|
+-------------+
only showing top 5 rows

In [31]:
df.select(add_months('Date of Birth',1)).alias('Next_month').show(3) #since it's strig value

+----------------------------+
|add_months(Date of Birth, 1)|
+----------------------------+
|                        null|
|                        null|
|                        null|
+----------------------------+
only showing top 3 rows

In [39]:
from pyspark.sql.types import DateType
df=df.withColumn('Date of Birth',df['Date of Birth'].cast(DateType()))

In [40]:
df.printSchema()

root
 |-- Emp ID: string (nullable = true)
 |-- Name Prefix: string (nullable = true)
 |-- First Name: string (nullable = true)
 |-- Middle Initial: string (nullable = true)
 |-- Last Name: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- E Mail: string (nullable = true)
 |-- Father's Name: string (nullable = true)
 |-- Mother's Name: string (nullable = true)
 |-- Mother's Maiden Name: string (nullable = true)
 |-- Date of Birth: date (nullable = true)
 |-- Time of Birth: string (nullable = true)
 |-- Age in Yrs.: string (nullable = true)
 |-- Weight in Kgs.: string (nullable = true)
 |-- Date of Joining: string (nullable = true)
 |-- Quarter of Joining: string (nullable = true)
 |-- Half of Joining: string (nullable = true)
 |-- Year of Joining: string (nullable = true)
 |-- Month of Joining: string (nullable = true)
 |-- Month Name of Joining: string (nullable = true)
 |-- Short Month: string (nullable = true)
 |-- Day of Joining: string (nullable = true)
 |-- DOW of Joining: string (nullable = true)
 |-- Short DOW: string (nullable = true)
 |-- Age in Company (Years): string (nullable = true)
 |-- Salary: string (nullable = true)
 |-- Last % Hike: string (nullable = true)
 |-- SSN: string (nullable = true)
 |-- Phone No. : string (nullable = true)
 |-- Place Name: string (nullable = true)
 |-- County: string (nullable = true)
 |-- City: string (nullable = true)
 |-- State: string (nullable = true)
 |-- Zip: string (nullable = true)
 |-- Region: string (nullable = true)
 |-- User Name: string (nullable = true)
 |-- Password: string (nullable = true)

In [51]:
df.select(add_months(df['Date of Birth'],1)).show(3)

+----------------------------+
|add_months(Date of Birth, 1)|
+----------------------------+
|                        null|
|                        null|
|                        null|
+----------------------------+
only showing top 3 rows

In [64]:
df1 = spark.createDataFrame([('2015/04/08',)], ['dt'])   # in date other than '-' is not working, hence convert it
df1.select(date_format(df1.dt, 'yyyy/MM/dd').alias('date')).show()

+----+
|date|
+----+
|null|
+----+

In [79]:
df1.withColumn("dt1",expr("to_date(dt,'yyyy/MM/dd')")).show()
#df.withColumn("test3",expr("to_date(value, format)")).show()

+----------+----------+
|        dt|       dt1|
+----------+----------+
|2015/04/08|2015-04-08|
+----------+----------+

In [85]:
#Back to actual dataframe
df.withColumn('Date_of_Birth1',expr("to_date(Date of Birth,'MM/dd/yyyy')")).show(5)   # space in the column name

ParseException: "\nmismatched input 'of' expecting ')'(line 1, pos 13)\n\n== SQL ==\nto_date(Date of Birth,'MM/dd/yyyy')\n-------------^^^\n"

In [109]:
df=df.withColumnRenamed('Date of Birth','Date_of_Birth')   # column name changed

In [110]:
df.withColumn('Date_of_Birth1',expr("to_date(Date_of_Birth,'MM/dd/yyyy')"))

DataFrame[Emp ID: string, Name Prefix: string, First Name: string, Middle Initial: string, Last Name: string, Gender: string, E Mail: string, Father's Name: string, Mother's Name: string, Mother's Maiden Name: string, Date_of_Birth: string, Time of Birth: string, Age in Yrs.: string, Weight in Kgs.: string, Date of Joining: string, Quarter of Joining: string, Half of Joining: string, Year of Joining: string, Month of Joining: string, Month Name of Joining: string, Short Month: string, Day of Joining: string, DOW of Joining: string, Short DOW: string, Age in Company (Years): string, Salary: string, Last % Hike: string, SSN: string, Phone No. : string, Place Name: string, County: string, City: string, State: string, Zip: string, Region: string, User Name: string, Password: string, Date_of_Birth1: date]

In [112]:
df.select('Date_of_Birth').show(5)

+-------------+
|Date_of_Birth|
+-------------+
|    3/29/1981|
|    7/31/1970|
|    6/16/1963|
|    12/4/1977|
|    4/17/1977|
+-------------+
only showing top 5 rows

In [3]:
df.show(2)

+------+-----------+----------+--------------+---------+------+--------------------+----------------+-------------+--------------------+-------------+-------------+-----------+--------------+---------------+------------------+---------------+---------------+----------------+---------------------+-----------+--------------+--------------+---------+----------------------+------+-----------+-----------+------------+----------+-------+---------+-----+-----+------+----------+-------------+
|Emp ID|Name Prefix|First Name|Middle Initial|Last Name|Gender|              E Mail|   Father's Name|Mother's Name|Mother's Maiden Name|Date of Birth|Time of Birth|Age in Yrs.|Weight in Kgs.|Date of Joining|Quarter of Joining|Half of Joining|Year of Joining|Month of Joining|Month Name of Joining|Short Month|Day of Joining|DOW of Joining|Short DOW|Age in Company (Years)|Salary|Last % Hike|        SSN|  Phone No. |Place Name| County|     City|State|  Zip|Region| User Name|     Password|
+------+-----------+----------+--------------+---------+------+--------------------+----------------+-------------+--------------------+-------------+-------------+-----------+--------------+---------------+------------------+---------------+---------------+----------------+---------------------+-----------+--------------+--------------+---------+----------------------+------+-----------+-----------+------------+----------+-------+---------+-----+-----+------+----------+-------------+
|677509|       Drs.|      Lois|             H|   Walker|     F|lois.walker@hotma...|   Donald Walker| Helen Walker|               Lewis|    3/29/1981|  02:31:49 AM|      36.36|            60|     11/24/2003|                Q4|             H2|           2003|              11|             November|        Nov|            24|        Monday|      Mon|                 13.68|168251|        21%|467-99-4677|303-572-8492|    Denver| Denver|   Denver|   CO|80224|  West|  lhwalker|DCa}.T}X:v?NP|
|940761|        Ms.|    Brenda|             S| Robinson|     F|brenda.robinson@g...|Raymond Robinson|Judy Robinson|               Perry|    7/31/1970|  12:13:27 PM|      47.02|            60|      7/27/2008|                Q3|             H2|           2008|               7|                 July|        Jul|            27|        Sunday|      Sun|                  9.01| 51063|        27%|537-71-4566|225-945-4954| Stonewall|De Soto|Stonewall|   LA|71078| South|bsrobinson|TCo\j#Zg;SQ~o|
+------+-----------+----------+--------------+---------+------+--------------------+----------------+-------------+--------------------+-------------+-------------+-----------+--------------+---------------+------------------+---------------+---------------+----------------+---------------------+-----------+--------------+--------------+---------+----------------------+------+-----------+-----------+------------+----------+-------+---------+-----+-----+------+----------+-------------+
only showing top 2 rows

In [5]:
from pyspark.sql import functions as f
df.select(f.length('First Name')).show(5)

+------------------+
|length(First Name)|
+------------------+
|                 4|
|                 6|
|                 3|
|                 5|
|                 8|
+------------------+
only showing top 5 rows

In [46]:
df=df.withColumnRenamed('First Name','First_Name')
#df.select(f.least()).show()

In [19]:
df.select(df.Age_in_Yrs,df.Weight_in_Kgs).show(3)

+----------+-------------+
|Age_in_Yrs|Weight_in_Kgs|
+----------+-------------+
|     36.36|           60|
|     47.02|           60|
|     54.15|           68|
+----------+-------------+
only showing top 3 rows

In [18]:
df.select(f.least(df.Age_in_Yrs,df.Weight_in_Kgs)).show(3)

+--------------------------------+
|least(Age_in_Yrs, Weight_in_Kgs)|
+--------------------------------+
|                           36.36|
|                           47.02|
|                           54.15|
+--------------------------------+
only showing top 3 rows

In [38]:
df.select('Date of Birth','Date of Joining',f.months_between(f.to_date('Date of Birth','MM/dd/yyyy'),f.to_date('Date of Joining','MM/dd/yyyy')).alias('month_diff')).show(3)

+-------------+---------------+-------------+
|Date of Birth|Date of Joining|   month_diff|
+-------------+---------------+-------------+
|    3/29/1981|     11/24/2003|-271.83870968|
|    7/31/1970|      7/27/2008|-455.87096774|
|    6/16/1963|       8/3/2016|-637.58064516|
+-------------+---------------+-------------+
only showing top 3 rows

In [42]:
df.select(f.length(df.Weight_in_Kgs)).show(3)

+---------------------+
|length(Weight_in_Kgs)|
+---------------------+
|                    2|
|                    2|
|                    2|
+---------------------+
only showing top 3 rows

In [50]:
df.select('First_Name',f.reverse(df.First_Name)).show(3)

+----------+-------------------+
|First_Name|reverse(First_Name)|
+----------+-------------------+
|      Lois|               sioL|
|    Brenda|             adnerB|
|       Joe|                eoJ|
+----------+-------------------+
only showing top 3 rows

In [53]:
df.select(f.locate('r',df.First_Name,2)).show(3)

+------------------------+
|locate(r, First_Name, 2)|
+------------------------+
|                       0|
|                       2|
|                       0|
+------------------------+
only showing top 3 rows

In [58]:
df.select(f.struct('Emp ID','Name Prefix').alias('struct')).show(3)

+--------------+
|        struct|
+--------------+
|[677509, Drs.]|
| [940761, Ms.]|
| [428945, Dr.]|
+--------------+
only showing top 3 rows

In [68]:
df.select(f.struct('Emp ID','Name Prefix').alias('struct')).collect()

[Row(struct=Row(Emp ID='677509', Name Prefix='Drs.')),
 Row(struct=Row(Emp ID='940761', Name Prefix='Ms.')),
 Row(struct=Row(Emp ID='428945', Name Prefix='Dr.')),
 Row(struct=Row(Emp ID='408351', Name Prefix='Drs.')),
 Row(struct=Row(Emp ID='193819', Name Prefix='Mr.')),
 Row(struct=Row(Emp ID='499687', Name Prefix='Mr.')),
 Row(struct=Row(Emp ID='539712', Name Prefix='Ms.')),
 Row(struct=Row(Emp ID='380086', Name Prefix='Mrs.')),
 Row(struct=Row(Emp ID='477616', Name Prefix='Hon.')),
 Row(struct=Row(Emp ID='162402', Name Prefix='Hon.')),
 Row(struct=Row(Emp ID='231469', Name Prefix='Mr.')),
 Row(struct=Row(Emp ID='153989', Name Prefix='Prof.')),
 Row(struct=Row(Emp ID='386158', Name Prefix='Mrs.')),
 Row(struct=Row(Emp ID='301576', Name Prefix='Hon.')),
 Row(struct=Row(Emp ID='441771', Name Prefix='Mrs.')),
 Row(struct=Row(Emp ID='528509', Name Prefix='Hon.')),
 Row(struct=Row(Emp ID='912990', Name Prefix='Mr.')),
 Row(struct=Row(Emp ID='214352', Name Prefix='Ms.')),
 Row(struct=Row(Emp ID='890290', Name Prefix='Hon.')),
 Row(struct=Row(Emp ID='622406', Name Prefix='Mr.')),
 Row(struct=Row(Emp ID='979607', Name Prefix='Ms.')),
 Row(struct=Row(Emp ID='969580', Name Prefix='Prof.')),
 Row(struct=Row(Emp ID='426038', Name Prefix='Hon.')),
 Row(struct=Row(Emp ID='388642', Name Prefix='Mrs.')),
 Row(struct=Row(Emp ID='560455', Name Prefix='Ms.')),
 Row(struct=Row(Emp ID='477253', Name Prefix='Mrs.')),
 Row(struct=Row(Emp ID='263480', Name Prefix='Hon.')),
 Row(struct=Row(Emp ID='683826', Name Prefix='Mr.')),
 Row(struct=Row(Emp ID='474599', Name Prefix='Drs.')),
 Row(struct=Row(Emp ID='335732', Name Prefix='Ms.')),
 Row(struct=Row(Emp ID='329752', Name Prefix='Hon.')),
 Row(struct=Row(Emp ID='893212', Name Prefix='Ms.')),
 Row(struct=Row(Emp ID='621833', Name Prefix='Mr.')),
 Row(struct=Row(Emp ID='456747', Name Prefix='Mr.')),
 Row(struct=Row(Emp ID='278556', Name Prefix='Prof.')),
 Row(struct=Row(Emp ID='333476', Name Prefix='Hon.')),
 Row(struct=Row(Emp ID='218791', Name Prefix='Mr.')),
 Row(struct=Row(Emp ID='134841', Name Prefix='Ms.')),
 Row(struct=Row(Emp ID='726264', Name Prefix='Hon.')),
 Row(struct=Row(Emp ID='766610', Name Prefix='Ms.')),
 Row(struct=Row(Emp ID='923947', Name Prefix='Ms.')),
 Row(struct=Row(Emp ID='227922', Name Prefix='Hon.')),
 Row(struct=Row(Emp ID='265813', Name Prefix='Hon.')),
 Row(struct=Row(Emp ID='247137', Name Prefix='Mr.')),
 Row(struct=Row(Emp ID='407061', Name Prefix='Ms.')),
 Row(struct=Row(Emp ID='226714', Name Prefix='Drs.')),
 Row(struct=Row(Emp ID='702813', Name Prefix='Mr.')),
 Row(struct=Row(Emp ID='524896', Name Prefix='Ms.')),
 Row(struct=Row(Emp ID='363065', Name Prefix='Drs.')),
 Row(struct=Row(Emp ID='879753', Name Prefix='Mrs.')),
 Row(struct=Row(Emp ID='958326', Name Prefix='Mr.')),
 Row(struct=Row(Emp ID='447813', Name Prefix='Mrs.')),
 Row(struct=Row(Emp ID='525955', Name Prefix='Drs.')),
 Row(struct=Row(Emp ID='818384', Name Prefix='Mr.')),
 Row(struct=Row(Emp ID='971640', Name Prefix='Prof.')),
 Row(struct=Row(Emp ID='253573', Name Prefix='Ms.')),
 Row(struct=Row(Emp ID='904898', Name Prefix='Drs.')),
 Row(struct=Row(Emp ID='515103', Name Prefix='Ms.')),
 Row(struct=Row(Emp ID='491943', Name Prefix='Mrs.')),
 Row(struct=Row(Emp ID='750173', Name Prefix='Mr.')),
 Row(struct=Row(Emp ID='687017', Name Prefix='Ms.')),
 Row(struct=Row(Emp ID='241882', Name Prefix='Ms.')),
 Row(struct=Row(Emp ID='758872', Name Prefix='Mr.')),
 Row(struct=Row(Emp ID='940922', Name Prefix='Hon.')),
 Row(struct=Row(Emp ID='917937', Name Prefix='Mr.')),
 Row(struct=Row(Emp ID='917395', Name Prefix='Hon.')),
 Row(struct=Row(Emp ID='183071', Name Prefix='Drs.')),
 Row(struct=Row(Emp ID='316110', Name Prefix='Mr.')),
 Row(struct=Row(Emp ID='293459', Name Prefix='Mr.')),
 Row(struct=Row(Emp ID='732017', Name Prefix='Ms.')),
 Row(struct=Row(Emp ID='915638', Name Prefix='Dr.')),
 Row(struct=Row(Emp ID='478003', Name Prefix='Hon.')),
 Row(struct=Row(Emp ID='951225', Name Prefix='Ms.')),
 Row(struct=Row(Emp ID='883936', Name Prefix='Mr.')),
 Row(struct=Row(Emp ID='528673', Name Prefix='Hon.')),
 Row(struct=Row(Emp ID='765850', Name Prefix='Mrs.')),
 Row(struct=Row(Emp ID='262382', Name Prefix='Ms.')),
 Row(struct=Row(Emp ID='870820', Name Prefix='Ms.')),
 Row(struct=Row(Emp ID='806955', Name Prefix='Mr.')),
 Row(struct=Row(Emp ID='325319', Name Prefix='Hon.')),
 Row(struct=Row(Emp ID='623253', Name Prefix='Mrs.')),
 Row(struct=Row(Emp ID='225925', Name Prefix='Mr.')),
 Row(struct=Row(Emp ID='761821', Name Prefix='Mr.')),
 Row(struct=Row(Emp ID='400173', Name Prefix='Ms.')),
 Row(struct=Row(Emp ID='802554', Name Prefix='Mr.')),
 Row(struct=Row(Emp ID='476433', Name Prefix='Ms.')),
 Row(struct=Row(Emp ID='533952', Name Prefix='Ms.')),
 Row(struct=Row(Emp ID='623929', Name Prefix='Prof.')),
 Row(struct=Row(Emp ID='844177', Name Prefix='Ms.')),
 Row(struct=Row(Emp ID='212893', Name Prefix='Ms.')),
 Row(struct=Row(Emp ID='185032', Name Prefix='Mr.')),
 Row(struct=Row(Emp ID='867084', Name Prefix='Ms.')),
 Row(struct=Row(Emp ID='969964', Name Prefix='Hon.')),
 Row(struct=Row(Emp ID='158666', Name Prefix='Ms.')),
 Row(struct=Row(Emp ID='489424', Name Prefix='Dr.')),
 Row(struct=Row(Emp ID='639892', Name Prefix='Mr.')),
 Row(struct=Row(Emp ID='704709', Name Prefix='Dr.')),
 Row(struct=Row(Emp ID='461593', Name Prefix='Ms.')),
 Row(struct=Row(Emp ID='392491', Name Prefix='Mrs.')),
 Row(struct=Row(Emp ID='495141', Name Prefix='Drs.'))]

In [66]:
type(new_schema)

list

In [69]:
df.select('First_Name').show(3)

+----------+
|First_Name|
+----------+
|      Lois|
|    Brenda|
|       Joe|
+----------+
only showing top 3 rows

In [73]:
df.select(f.when(df.First_Name == 'Lois' , 'LOL').when(df.First_Name == 'Brenda', 'BRR').when(df.First_Name == 'Joe' , 'JOJO').otherwise('ohlala') \
         .alias('case_stsmt')).show(10)

+----------+
|case_stsmt|
+----------+
|       LOL|
|       BRR|
|      JOJO|
|    ohlala|
|    ohlala|
|    ohlala|
|    ohlala|
|    ohlala|
|    ohlala|
|    ohlala|
+----------+
only showing top 10 rows

In [74]:
df.show(3)

+------+-----------+----------+--------------+---------+------+--------------------+----------------+------------------+--------------------+-------------+-------------+----------+-------------+---------------+------------------+---------------+---------------+----------------+---------------------+-----------+--------------+--------------+---------+----------------------+------+-----------+-----------+------------+------------+-------+------------+-----+-----+-------+----------+-------------+
|Emp ID|Name Prefix|First_Name|Middle Initial|Last Name|Gender|              E Mail|   Father's Name|     Mother's Name|Mother's Maiden Name|Date of Birth|Time of Birth|Age_in_Yrs|Weight_in_Kgs|Date of Joining|Quarter of Joining|Half of Joining|Year of Joining|Month of Joining|Month Name of Joining|Short Month|Day of Joining|DOW of Joining|Short DOW|Age in Company (Years)|Salary|Last % Hike|        SSN|  Phone No. |  Place Name| County|        City|State|  Zip| Region| User Name|     Password|
+------+-----------+----------+--------------+---------+------+--------------------+----------------+------------------+--------------------+-------------+-------------+----------+-------------+---------------+------------------+---------------+---------------+----------------+---------------------+-----------+--------------+--------------+---------+----------------------+------+-----------+-----------+------------+------------+-------+------------+-----+-----+-------+----------+-------------+
|677509|       Drs.|      Lois|             H|   Walker|     F|lois.walker@hotma...|   Donald Walker|      Helen Walker|               Lewis|    3/29/1981|  02:31:49 AM|     36.36|           60|     11/24/2003|                Q4|             H2|           2003|              11|             November|        Nov|            24|        Monday|      Mon|                 13.68|168251|        21%|467-99-4677|303-572-8492|      Denver| Denver|      Denver|   CO|80224|   West|  lhwalker|DCa}.T}X:v?NP|
|940761|        Ms.|    Brenda|             S| Robinson|     F|brenda.robinson@g...|Raymond Robinson|     Judy Robinson|               Perry|    7/31/1970|  12:13:27 PM|     47.02|           60|      7/27/2008|                Q3|             H2|           2008|               7|                 July|        Jul|            27|        Sunday|      Sun|                  9.01| 51063|        27%|537-71-4566|225-945-4954|   Stonewall|De Soto|   Stonewall|   LA|71078|  South|bsrobinson|TCo\j#Zg;SQ~o|
|428945|        Dr.|       Joe|             W| Robinson|     M|joe.robinson@gmai...|  Scott Robinson|Stephanie Robinson|              Taylor|    6/16/1963|  10:45:36 AM|     54.15|           68|       8/3/2016|                Q3|             H2|           2016|               8|               August|        Aug|             3|     Wednesday|      Wed|                  0.98| 50155|        16%|025-92-3584|219-904-2161|Michigantown|Clinton|Michigantown|   IN|46057|Midwest|jwrobinson| GO4$J8MiEh[A|
+------+-----------+----------+--------------+---------+------+--------------------+----------------+------------------+--------------------+-------------+-------------+----------+-------------+---------------+------------------+---------------+---------------+----------------+---------------------+-----------+--------------+--------------+---------+----------------------+------+-----------+-----------+------------+------------+-------+------------+-----+-----+-------+----------+-------------+
only showing top 3 rows

In [76]:
df.agg({'Age_in_Yrs':'max'}).show()

+---------------+
|max(Age_in_Yrs)|
+---------------+
|          59.47|
+---------------+

In [84]:
df.select(df.Age_in_Yrs).sort(df.Age_in_Yrs,ascending=False).show(10)

+----------+
|Age_in_Yrs|
+----------+
|     59.47|
|     59.42|
|     59.27|
|     59.12|
|     58.43|
|     58.18|
|     58.15|
|     58.08|
|     57.37|
|     56.66|
+----------+
only showing top 10 rows

In [85]:
df.columns

['Emp ID',
 'Name Prefix',
 'First_Name',
 'Middle Initial',
 'Last Name',
 'Gender',
 'E Mail',
 "Father's Name",
 "Mother's Name",
 "Mother's Maiden Name",
 'Date of Birth',
 'Time of Birth',
 'Age_in_Yrs',
 'Weight_in_Kgs',
 'Date of Joining',
 'Quarter of Joining',
 'Half of Joining',
 'Year of Joining',
 'Month of Joining',
 'Month Name of Joining',
 'Short Month',
 'Day of Joining',
 'DOW of Joining',
 'Short DOW',
 'Age in Company (Years)',
 'Salary',
 'Last % Hike',
 'SSN',
 'Phone No. ',
 'Place Name',
 'County',
 'City',
 'State',
 'Zip',
 'Region',
 'User Name',
 'Password']

In [86]:
df.createGlobalTempView('new_tab')

In [90]:
f=spark.sql("select 11+11")

In [91]:
f.show()

+---------+
|(11 + 11)|
+---------+
|       22|
+---------+

In [1]:
sc

In [14]:
df = spark.read.format("cSV") \
     .option("header",True) \
     .option("inferSchema",True) \
     .option("sep",'|') \
     .load('C:\\Users\\venk\\Desktop\\py_pgm\\sample_file\\samp1.csv')

In [2]:
import os
os.getcwd()

'C:\\Users\\venk\\Desktop\\py_pgm'

In [15]:
df.show(3)

+----------+------+------+
|first_name|salary|dep_id|
+----------+------+------+
|    venkat|   100|    IT|
|     Kumar|   200|   ECE|
+----------+------+------+